<mat-card>
  <form (ngSubmit)="onAddPost(postForm)" #postForm="ngForm">
  <mat-form-field class="example-full-width">
    <mat-label>Title Post: </mat-label>
    <input matInput ngModel name="title" #title="ngModel" required>
    <mat-error *ngIf="title.invalid">Please inter a valide title</mat-error>
  </mat-form-field>
<br>
<mat-form-field class="example-full-width">
  <mat-label>Leave a comment</mat-label>
  <textarea matInput rows="5" ngModel name="content" #content="ngModel" required></textarea>
  <mat-error *ngIf="content.invalid">Please inter a post</mat-error>
</mat-form-field>
<hr>
<button type="submit" mat-flat-button color="primary" >Save Post</button>
  </form>
</mat-card>

